<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashutosh_dalvi.bookapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Novella"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FlashScreen"
            android:theme="@style/AppTheme.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Registration" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MARATHI"
            android:label="Marathi" />
        <activity
            android:name=".Fiction"
            android:label="Fiction" />
        <activity
            android:name=".Homepage"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Account"
            android:label="Account" />
        <activity
            android:name=".Download"
            android:label="Download" />
        <activity
            android:name=".Feedback"
            android:label="Feedback" />
        <activity
            android:name=".Aboutus"
            android:label="About_us" />
        <activity
            android:name=".Credits"
            android:label="Credits" />
        <activity
            android:name=".Help"
            android:label="Help" />
        <activity
            android:name=".Thriller"
            android:label="Thriller" />
        <activity
            android:name=".Selfhelp"
            android:label="Self Help" />
        <activity
            android:name=".Technical"
            android:label="Technical" />
        <activity
            android:name=".Romance"
            android:label="Romance" />
        <activity
            android:name=".Book_info"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity android:name=".Book_view"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
    </application>

</manifest>