<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashutosh_dalvi.bookapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher_round"
        android:label="Novella"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FlashScreen"
            android:theme="@style/AppTheme.NoActionbar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Registration" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Homepage"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity android:name=".Gridview" />
        <activity android:name=".Account"
            android:label="Account"
            />
        <activity android:name=".Download"
            android:label="Download"
            />
        <activity android:name=".Feedback"
            android:label="Feedback"
            />
        <activity android:name=".Aboutus"
            android:label="About_us"
            />
        <activity android:name=".Credits"
            android:label="Credits"
            />
        <activity android:name=".Help"
            android:label="Help"
            ></activity>
    </application>

</manifest>